#AnchorPaneAdmin{
    -fx-background-image: url('istockphoto-690470194-612x612.jpg');
    -fx-background-size: cover;
}
#pane{
    -fx-background-color: #d6d6d6 ;
}
#adduserPane{
    -fx-background-color: #d6d6d6;
}
#visiblePane{
    -fx-background-color: #d6d6d6;
}
#combobox{
    -fx-font-size: 16;
}
#choosepane{
    -fx-background-color: #d6d6d6
}