#AnchorPane{
    -fx-background-image: url('login-background(1).jpg');
    -fx-background-size: cover;
}
#Pane{
    -fx-background-image: url('login-background(1).jpg');
    -fx-background-size: cover;
}
#LoginPane {
    -fx-background-image: url('login-background(1).jpg');
    -fx-background-size: cover;
}
#username{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
#password{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

